@charset "UTF-8";
@font-face {
  font-family: "Metropolis";
  src: url("../FONTS/fonts/Metropolis-bold.otf") format("opentype");
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Metropolis-regular";
  src: url("../FONTS/fonts/Metropolis-Regular.otf ") format("opentype");
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Metropolis-thin";
  src: url("../FONTS/fonts/Metropolis-Thin.otf") format("opentype");
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Metropolis-Light";
  src: url("../FONTS/fonts/Metropolis-Light.otf") format("opentype");
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}
.header {
  border: 0.5px solid #ffffff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.header .logo {
  margin-left: 11px;
  max-width: 100%;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  display: flex;
  align-items: center;
}
.header .logo .logo-img {
  width: 249px;
  height: 58px;
}
.header .nav {
  justify-content: space-around;
  font-family: "Metropolis", sans-serif;
  width: 100vw;
  display: flex;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}
.header .nav .phoneE {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 722px;
}
.header .nav .phoneE img {
  max-width: 100%;
  width: 28px;
  height: 28px;
}
.header .nav .phoneE span {
  width: 67px;
  height: 14px;
  text-align: left;
  font-size: 18px;
  letter-spacing: -0.28px;
  color: #111111;
  text-transform: uppercase;
  opacity: 1;
  margin-left: 17.14px;
}
.header .nav .star {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  margin-left: 72.66px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .nav .star img {
  max-width: 100%;
  width: 28px;
  height: 27px;
}
.header .nav .star span {
  margin-left: 17.14px;
  width: 72px;
  height: 14px;
  text-align: left;
  font-size: 18px;
  letter-spacing: -0.28px;
  color: #111111;
  text-transform: uppercase;
  opacity: 1;
}
.header .nav .person {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  margin-left: 62.34px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .nav .person img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  width: 25px;
  height: 29px;
}
.header .nav .person span {
  font-size: 18px;
  margin-left: 18.67px;
  width: 120px;
  height: 14px text-align left;
  letter-spacing: -0.28px;
  color: #111111;
  text-transform: uppercase;
  opacity: 1;
  display: flex;
}
.header .nav .cart {
  margin: 12.5px 0 12.5px 62px;
  border: 1px solid #e1e2e8;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 320px;
  height: 55px;
  position: sticky;
}
.header .nav .cart img {
  width: 39px;
  height: 36px;
  margin-left: 10px;
}
.header .nav .cart .koszyk-info {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
}
.header .nav .cart .koszyk-info .KOSZ_ILOSC_WRAPPER {
  position: relative;
}
.header .nav .cart .koszyk-info .KOSZ_ILOSC_WRAPPER .KOSZ_ILOSC {
  font-size: 13px;
  color: #ffffff;
  background: #9bcb3b;
  border-radius: 2px;
  width: 26px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -16px;
  margin-left: -20px;
}
.header .nav .cart .koszyk-info .LINIA {
  width: 1px;
  height: 41px;
  background: #e1e2e8;
}
.header .nav .cart .koszyk-info .KOSZ_CENA {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.header .nav .cart .koszyk-info .KOSZ_CENA .KOSZ_NAZWA {
  font-size: 14px;
  font-family: "Metropolis", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: -0.28px;
  color: #111111;
}
.header .nav .cart .koszyk-info .KOSZ_CENA .CENA {
  font-size: 16px;
  font-family: "Metropolis-regular", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  color: #111111;
}
.header .nav .ZIELONE_POLE_STRZALKA {
  width: 35px;
  height: 55px;
  background: #9bcb3b;
}
@media screen and (max-width: 400px) {
  .header .cart {
    flex-direction: column;
    height: auto;
  }
  .header .cart .koszyk-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .cart .koszyk-info .KOSZ_CENA .CENA {
    font-size: 14px;
  }
  .header .cart .ZIELONE_POLE_STRZALKA {
    width: 100%;
    height: 35px;
  }
}

.PASEK2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0;
  /* Media Queries: Dopasowanie do mniejszych ekranów */
}
.PASEK2 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 105px;
}
.PASEK2 li {
  flex: 1 1 auto;
  min-width: 10px;
  text-align: center;
}
.PASEK2 li a {
  text-align: left;
  font: normal normal bold 14px/14px Metropolis;
  letter-spacing: -0.28px;
  color: #111111;
  text-transform: uppercase;
  opacity: 1;
  text-decoration: none;
  color: #000000;
  font-family: "Metropolis", sans-serif;
  font-size: 1rem;
  white-space: nowrap;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}
@media (max-width: 768px) {
  .PASEK2 ul {
    justify-content: center;
    gap: 10px;
  }
  .PASEK2 li {
    flex: 1 1 45%;
    min-width: 120px;
  }
  .PASEK2 a {
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .PASEK2 ul {
    flex-direction: column;
    gap: 5px;
  }
  .PASEK2 li {
    flex: 1 1 100%;
  }
  .PASEK2 a {
    font-size: 0.8rem;
  }
}

body {
  background: #f2f3f4 0% 0% no-repeat padding-box;
  margin: 0;
}
body .image-container {
  display: flex;
  position: relative;
  padding-left: 30px;
  padding-top: 21px;
  padding-bottom: 29px;
  width: 1860px;
  height: 595px;
  background: transparent url("img/Group 40.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}
body .image-container .button-overlay {
  position: absolute;
  padding-top: 406px; /* Dopasuj, aby było zgodne z obrazem */
  margin-left: 127px; /* Wyrównanie z tekstem */
}
body .image-container .button-overlay .cta-button {
  text-decoration: none;
  padding: 21px 45px; /* Odstępy wewnętrzne przycisku */
  background: #f74137 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  font: normal normal bold 14px/17px Metropolis;
  letter-spacing: -0.28px;
  color: #ffffff;
  opacity: 1;
}
body .image-container .image-wrapper {
  display: flex;
  position: relative;
  display: inline-block;
}
body .image-container .image-wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
}
body .image-container .image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  pointer-events: none;
}
body .image-container .text-overlay {
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  position: absolute;
  top: 106px;
  margin-left: 127px;
  width: 514px;
  height: 44px;
  font-size: 20px;
}
body .image-container .text-overlay p {
  font-family: "Metropolis", sans-serif;
  margin: 0;
  font-size: 44px;
  line-height: 200px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}
body .image-container .text-overlay2 {
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  position: absolute;
  top: 234px;
  margin-left: 127px;
  width: 571px;
  height: 44px;
  font-size: 44px;
}
body .image-container .text-overlay2 p {
  font-family: "Metropolis-Light", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  margin: 0;
  font-size: 44px;
}
body .image-container .text-overlay3 {
  text-align: left;
  color: #ffffff;
  opacity: 1;
  position: absolute;
  top: 294px;
  margin-left: 127px;
  width: 371px;
  height: 74px;
  color: #ffffff;
  opacity: 1;
}
body .image-container .text-overlay3 p {
  margin: 0;
  font-size: 22px;
  font-family: "Metropolis-regular", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: -0.44px;
  line-height: 26px;
}

.image-wrapper1 {
  display: flex;
  position: relative;
  display: inline-block;
}
.image-wrapper1 img {
  display: block;
  width: 100%;
  height: auto;
}
.image-wrapper1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.image-wrapper2 {
  display: flex;
  position: relative;
  display: inline-block;
}
.image-wrapper2 img {
  display: block;
  width: 100%;
  height: auto;
}
.image-wrapper2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.image-wrapper3 {
  display: flex;
  position: relative;
  display: inline-block;
}
.image-wrapper3 img {
  display: block;
  width: 100%;
  height: auto;
}
.image-wrapper3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.ZDJECIA_OBOK_3 {
  display: flex;
  gap: 30px;
  padding-left: 30px;
  width: 1860px;
  height: 400px;
}
.ZDJECIA_OBOK_3 .button-overlay1 {
  position: absolute;
  padding-top: 246px; /* Dopasuj, aby było zgodne z obrazem */
  margin-left: 49px; /* Wyrównanie z tekstem */
}
.ZDJECIA_OBOK_3 .button-overlay1 .cta-button1 {
  text-decoration: none;
  padding: 21px 45px; /* Odstępy wewnętrzne przycisku */
  background: transparent;
  border: 1px solid #ffffff;
  opacity: 1;
  text-align: center;
  letter-spacing: -0.28px;
  color: #ffffff;
  opacity: 1;
  font-family: "Metropolis";
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}
.ZDJECIA_OBOK_3 .button-overlay1 .cta-button1:hover {
  background: #ffffff; /* Białe tło po najechaniu */
  color: #f74137; /* Czerwony tekst po najechaniu */
}
.ZDJECIA_OBOK_3 .button-overlay2 {
  position: absolute;
  padding-top: 246px; /* Dopasuj, aby było zgodne z obrazem */
  margin-left: 679px; /* Wyrównanie z tekstem */
}
.ZDJECIA_OBOK_3 .button-overlay2 .cta-button2 {
  text-decoration: none;
  padding: 21px 45px; /* Odstępy wewnętrzne przycisku */
  background: transparent;
  border: 1px solid #ffffff;
  opacity: 1;
  text-align: center;
  font-family: "Metropolis";
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.28px;
  color: #ffffff;
  opacity: 1;
  transition: background-color 0.3s, color 0.3s;
}
.ZDJECIA_OBOK_3 .button-overlay2 .cta-button2:hover {
  background: #ffffff; /* Białe tło po najechaniu */
  color: #f74137; /* Czerwony tekst po najechaniu */
}
.ZDJECIA_OBOK_3 .button-overlay3 {
  position: absolute;
  padding-top: 246px; /* Dopasuj, aby było zgodne z obrazem */
  margin-left: 1309px; /* Wyrównanie z tekstem */
}
.ZDJECIA_OBOK_3 .button-overlay3 .cta-button3 {
  text-decoration: none;
  padding: 21px 45px; /* Odstępy wewnętrzne przycisku */
  background: transparent;
  border: 1px solid #ffffff;
  opacity: 1;
  text-align: center;
  font-family: "Metropolis";
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.28px;
  color: #ffffff;
  opacity: 1;
  transition: background-color 0.3s, color 0.3s;
}
.ZDJECIA_OBOK_3 .button-overlay3 .cta-button3:hover {
  background: #ffffff; /* Białe tło po najechaniu */
  color: #f74137; /* Czerwony tekst po najechaniu */
}
.ZDJECIA_OBOK_3 .ZDJ3OBOK_1 {
  position: absolute;
  padding-top: 72px;
  padding-left: 49px;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: 352px;
  height: 44px;
}
.ZDJECIA_OBOK_3 .ZDJ3OBOK_1 p {
  font-family: "Metropolis", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 44px;
}
.ZDJECIA_OBOK_3 .zdj3obok_1_1 {
  position: absolute;
  padding-left: 49px;
  padding-top: 122px;
  text-align: left;
  width: 242px;
  height: 44px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.ZDJECIA_OBOK_3 .zdj3obok_1_1 p {
  font-family: "Metropolis-Light", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  font-size: 44px;
}
.ZDJECIA_OBOK_3 .ZDJ3OBOK_2 {
  position: absolute;
  text-align: left;
  padding-left: 679px;
  padding-top: 72px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: 467px;
  height: 44px;
}
.ZDJECIA_OBOK_3 .ZDJ3OBOK_2 p {
  font-family: "Metropolis", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 44px;
}
.ZDJECIA_OBOK_3 .zdj3obok_1_2 {
  position: absolute;
  padding-left: 679px;
  text-align: left;
  padding-top: 122px;
  width: 242px;
  height: 44px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.ZDJECIA_OBOK_3 .zdj3obok_1_2 p {
  font-family: "Metropolis-Light", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  font-size: 44px;
}
.ZDJECIA_OBOK_3 .ZDJ3OBOK_3 {
  position: absolute;
  padding-top: 72px;
  padding-left: 1309px;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: 244px;
  height: 44px;
}
.ZDJECIA_OBOK_3 .ZDJ3OBOK_3 p {
  font-family: "Metropolis", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 44px;
}
.ZDJECIA_OBOK_3 .zdj3obok_1_3 {
  position: absolute;
  text-align: left;
  padding-left: 1309px;
  padding-top: 122px;
  width: 360px;
  height: 44px;
}
.ZDJECIA_OBOK_3 .zdj3obok_1_3 p {
  font-family: "Metropolis-Light", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  font-size: 44px;
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.produkty {
  max-width: 100%;
  background: #f2f3f4 0% 0% no-repeat padding-box;
  border-radius: 2px;
  width: 1920px;
  height: 851px;
  border: 1px, red;
}
.produkty .text_products {
  text-align: center;
  font: normal normal bold 44px/200px Metropolis;
  letter-spacing: 0px;
  color: #111111;
  opacity: 1;
}
.produkty .red_line {
  width: 60px;
  height: 3px;
  background: #f74137 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  align-items: center;
  top: -70px;
  right: -920px;
}
.produkty .border_line {
  background: #e1e2e8 0% 0% no-repeat padding-box;
  width: 1900px;
  height: 1px;
  position: absolute;
  margin-top: -70px;
}
.produkty .recommended-products {
  text-align: center;
  margin: 20px auto;
}
.produkty .recommended-products h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}
.produkty .recommended-products h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #f00;
  margin: 10px auto 0;
}
.produkty .recommended-products .box_all {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  overflow-x: auto;
}
.produkty .recommended-products .box_all button.prev,
.produkty .recommended-products .box_all button.next {
  background-color: #ccc;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.produkty .recommended-products .box_all button.prev:hover,
.produkty .recommended-products .box_all button.next:hover {
  background-color: #aaa;
}
.produkty .recommended-products .box_all .prev {
  z-index: 1;
  position: absolute;
  margin-left: 30px;
}
.produkty .recommended-products .box_all .next {
  z-index: 1;
  margin-left: 1710px;
  position: absolute;
  margin-top: 250px;
}
.produkty .recommended-products .box_all .carousel {
  margin-left: 30px;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  display: flex;
  overflow: hidden;
  padding: 10px;
  width: 1780px;
}
.produkty .recommended-products .box_all .carousel .carousel-item {
  flex: 0 0 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  scroll-snap-align: start;
}
.produkty .recommended-products .box_all .carousel .product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  width: 310px;
  height: 510px;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}
.produkty .recommended-products .box_all .carousel .product-card:hover .description,
.produkty .recommended-products .box_all .carousel .product-card:hover .description2,
.produkty .recommended-products .box_all .carousel .product-card:hover .old_price,
.produkty .recommended-products .box_all .carousel .product-card:hover .price {
  transform: translateY(-20px);
  transition: transform 0.3s ease;
}
.produkty .recommended-products .box_all .carousel .product-card img.zarowka_1 {
  height: auto;
  margin-bottom: 10px;
  margin-top: 100px;
  width: 240px;
  height: 240px;
}
.produkty .recommended-products .box_all .carousel .product-card img.zarowka_1:hover ~ .description,
.produkty .recommended-products .box_all .carousel .product-card img.zarowka_1:hover ~ .description2,
.produkty .recommended-products .box_all .carousel .product-card img.zarowka_1:hover ~ .old_price,
.produkty .recommended-products .box_all .carousel .product-card img.zarowka_1:hover ~ .price {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
.produkty .recommended-products .box_all .carousel .product-card .description {
  font-size: 14px;
  color: #333;
  margin: 10px 0;
  line-height: 1.4;
}
.produkty .recommended-products .box_all .carousel .product-card .description2 {
  margin-top: -10px;
}
.produkty .recommended-products .box_all .carousel .product-card .price {
  text-align: left;
  font: normal normal bold 14px/14px Metropolis;
  letter-spacing: -0.28px;
  color: #111111;
  opacity: 1;
}
.produkty .recommended-products .box_all .carousel .product-card .hover-overlay {
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  transition: bottom 0.3s ease;
}
.produkty .recommended-products .box_all .carousel .product-card .hover-overlay .quantity-controls {
  position: absolute;
  display: flex;
  align-items: center;
  left: 94px;
}
.produkty .recommended-products .box_all .carousel .product-card .hover-overlay .quantity-controls button {
  width: 23px;
  height: 50px;
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.produkty .recommended-products .box_all .carousel .product-card .hover-overlay .quantity-controls button:hover {
  background: #e1e1e1;
}
.produkty .recommended-products .box_all .carousel .product-card .hover-overlay .quantity-controls .quantity {
  width: 40px;
  height: 46px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.produkty .recommended-products .box_all .carousel .product-card .hover-overlay .add-to-cart {
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  position: absolute;
  left: 195px;
  background: #9BCB3B 0% 0% no-repeat padding-box;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.produkty .recommended-products .box_all .carousel .product-card .hover-overlay .add-to-cart img {
  width: 30px;
  filter: invert(1);
}
.produkty .recommended-products .box_all .carousel .product-card .hover-overlay .add-to-cart:hover {
  background: #7cb342;
}
.produkty .recommended-products .box_all .carousel .product-card:hover .hover-overlay {
  bottom: 0;
}

.old_price,
.price {
  display: inline-block;
  position: relative;
}

.button-overlay-2 {
  position: relative; /* Ustawia pozycję na absolutną */
  left: 42%; /* Ustawia lewą krawędź na 50% szerokości */
  width: 318px;
  height: 55px;
}
.button-overlay-2 .cta-button-2 {
  text-decoration: none;
  padding: 21px 45px; /* Odstępy wewnętrzne przycisku */
  background: #f74137 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  font: normal normal bold 14px/17px Metropolis;
  letter-spacing: -0.28px;
  color: #ffffff;
  opacity: 1;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: url("../IMG/etap_01/photos/img_07.jpg"); /* Wstaw swoją ścieżkę */
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Przyciemnienie */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.icons .icon {
  margin: 0 25px;
  text-align: center;
  border: 1px solid #FFFFFF;
  padding: 15px;
  padding-right: 77px;
  padding-left: 77px;
}
.icons .icon:hover {
  transform: scale(1.05); /* Powiększenie przy najechaniu */
}
.icons .icon img {
  margin-bottom: 10px;
}
.icons .icon p {
  margin: 0;
  font-size: 0.9rem;
}
.icons .icon:first-child img {
  width: 62px;
  height: 30px;
}
.icons .icon:nth-child(2) img {
  width: 40px;
  height: 32px;
}
.icons .icon:last-child img {
  width: 40px;
  height: 27px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.divider span {
  flex: 1;
  height: 1px;
  background-color: white;
}
.divider .red-dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin: 0 10px;
}

.button {
  width: 246px;
  height: 26px;
  margin-top: 20px;
  padding: 20px 20px;
  background-color: red;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: darkred;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #2b2b2b;
  color: white;
  padding: 30px 10px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 0 10px;
  text-align: left;
}

.footer-section h4 {
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
  position: relative;
}

.footer-section h4::after {
  content: "";
  display: block;
  width: 443px;
  height: 2px;
  background: linear-gradient(to right, red 10px, rgb(39, 38, 38) 30px);
  margin-top: 5px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

a .footer-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: red;
}

/*# sourceMappingURL=main.css.map */
