


.footer {
  display: flex;
  justify-content: space-between;
  background: #393E40 0% 0% no-repeat padding-box;
  color: white;
  padding: 30px 10px;
  flex-wrap: wrap;
}

.footer-section {
  
  flex: 1;
  min-width: 200px;
  margin: 0 10px;
  text-align: left;
}

.footer-section h4 {
  font-family: "Metropolis";
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: -0.28px;
  font-size: 14px;
  margin-bottom: 13px;
  color: white;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  opacity: 1;
}

.footer-section h4::after {
  
  text-decoration: none;
  content: "";
  display: block;
  width: 443px;
  height: 2px;
  background: linear-gradient(to right, #F74137 35px, rgb(83, 83, 83) 30px);
  margin-top: 5px;
  
}

.footer-section ul {
  
  
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  text-decoration: none;
  font-family: "Metropolis-regular";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: -0.28px;
color: #FFFFFF;
opacity: 1;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 13px;
}
a .footer-section ul li a {
  
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  
  color: red;
}
