.navigation {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding:  clamp(1vw, 1vw, 1vw); 
  border: 0.052vw solid #ccc;
  margin: 0;
  width:   clamp(97vw, 97vw, 97vw); 
  margin-top: 0;
 

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
  }

   .navigation__item{
    flex: 1 1 auto;
    min-width: 10px;
    text-align: left;
    margin-left: clamp(0.7vw, 0.7vw, 0.7vw); 
    
    .navigation__link {
      text-align: left;
      font: normal normal bold 14px/14px Metropolis;
      letter-spacing: -0.28px;
      color: #111111;
      text-transform: uppercase;
      opacity: 1;
      text-decoration: none;
      color: #000000;
      font-family: "Metropolis", sans-serif;
      font-size: clamp(0.1rem, 0.8vw, 7.5rem); 
      white-space: nowrap;
      font-style: normal;
      font-variant: normal;
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    .navigation__list {
      
    }

    .navigation__item {
      
    }

    .navigation__link  {
     
    }
  }

  @media (max-width: 480px) {
    .navigation__list {
     
    }

    .navigation__item {
      
    }

    .navigation__link  {
      
    }
  }
}


