






.ZDJECIA_OBOK_3 {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  width: 98%;
  height: auto;
  gap: 30px;


  .image-wrapper1 {
    
    
    display: inline-block;
    position: relative;
    overflow: hidden;

    &:hover img {
      transform: scale(1.1);
    }

    img {
      width: 100%;
      display: block;
   
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
      );
      pointer-events: none;
      z-index: 1;
    }

    .ZDJ3OBOK_1 {
      position: absolute;
      top: 72px;
      left: 49px;
      text-align: left;
      color: #ffffff;
      z-index: 2;
      width: 100%;
     
   
      height: 100%;

      p {
        font-family: "Metropolis", sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 1.2;
      }
    }

    .zdj3obok_1_1 {
      position: absolute;
      top: 122px;
      left: 49px;
      text-align: left;
      color: #ffffff;
      z-index: 2;

      p {
        font-family: "Metropolis-Light", sans-serif;
        font-weight: 300;
        font-size: 2rem;
        line-height: 1.2;
      }
    }

    .button-overlay1 {
      position: absolute;
      top: 246px;
      left: 49px;
      z-index: 3; 
    }

    .cta-button1 {
      padding: 21px 45px;
      background: transparent;
      border: 1px solid #ffffff;
      color: #ffffff;
      font-family: "Metropolis";
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background: #ffffff;
        color: #f74137;
      }
    }
  }

  .image-wrapper2 {
    display: inline-block;
    position: relative;
    overflow: hidden;

    &:hover img {
      transform: scale(1.1);
    }

    img {
      display: block;
      
      height: auto;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
      );
      pointer-events: none;
      z-index: 1;
    }

    /* Napisy */
    .ZDJ3OBOK_2 {
      position: absolute;
      top: 72px;
      left: 49px;
      text-align: left;
      color: #ffffff;
      z-index: 2;
      pointer-events: none;

      p {
        font-family: "Metropolis", sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 1.2;
      }
    }

    .zdj3obok_1_2 {
      position: absolute;
      top: 122px;
      left: 49px;
      text-align: left;
      color: #ffffff;
      z-index: 2;
      pointer-events: none;

      p {
        font-family: "Metropolis-Light", sans-serif;
        font-weight: 300;
        font-size: 2rem;
        line-height: 1.2;
      }
    }

    /* Przycisk */
    .button-overlay2 {
      position: absolute;
      top: 246px;
      left: 49px;
      z-index: 3;
      pointer-events: auto;
    }

    .cta-button2 {
      text-decoration: none;
      padding: 21px 45px;
      background: transparent;
      border: 1px solid #ffffff;
      color: #ffffff;
      font-family: "Metropolis";
      font-weight: bold;
      font-size: 14px;
      letter-spacing: -0.28px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background: #ffffff;
        color: #f74137;
      }
    }
  }

  .image-wrapper3 {
    display: inline-block;
    position: relative;
    overflow: hidden;

    &:hover img {
      transform: scale(1.1);
    }

    img {
      display: block;
   
      height: auto;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
      );
      pointer-events: none;
      z-index: 1;
    }


    .ZDJ3OBOK_3 {
      position: absolute;
      top: 72px;
      left: 49px;
      text-align: left;
      color: #ffffff;
      z-index: 2;
      pointer-events: none;

      p {
        font-family: "Metropolis", sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 1.2;
      }
    }

    .zdj3obok_1_3 {
      position: absolute;
      top: 122px;
      left: 49px;
      text-align: left;
      color: #ffffff;
      z-index: 2;
      pointer-events: none;

      p {
        font-family: "Metropolis-Light", sans-serif;
        font-weight: 300;
        font-size: 2rem;
        line-height: 1.2;
      }
    }

    .button-overlay3 {
      position: absolute;
      top: 246px;
      left: 49px;
      z-index: 3;
      pointer-events: auto;
    }

    .cta-button3 {
      text-decoration: none;
      padding: 21px 45px;
      background: transparent;
      border: 1px solid #ffffff;
      color: #ffffff;
      font-family: "Metropolis";
      font-weight: bold;
      font-size: 14px;
      letter-spacing: -0.28px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background: #ffffff;
        color: #f74137;
      }
    }
  }


  @media (max-width: 768px) {
    .ZDJ3OBOK_1 p,
    .zdj3obok_1_1 p,
    .ZDJ3OBOK_2 p,
    .zdj3obok_1_2 p,
    .ZDJ3OBOK_3 p,
    .zdj3obok_1_3 p {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 480px) {
    .ZDJ3OBOK_1 p,
    .zdj3obok_1_1 p,
    .ZDJ3OBOK_2 p,
    .zdj3obok_1_2 p,
    .ZDJ3OBOK_3 p,
    .zdj3obok_1_3 p {
      font-size: 1rem;
    }
  }
}
