.produkty {
  max-width: 100%;
  background: #f2f3f4 0% 0% no-repeat padding-box;
  border-radius: 2px;
  width: 100%; 
  height: auto; 
  padding: 20px 0;

  .text_products {
    width: 100%;
    text-align: center; 
    font-size: clamp(0.5rem, 2.3vw, 10.5rem);  
    font-weight: bold;
    line-height: 1.2; 
    color: #111111;
    margin-bottom: 10px;
  }

  .red_line {
    width: clamp(50px, 5vw, 80px); 
    height: clamp(2px, 0.3vw, 4px); 
    background: #f74137 0% 0% no-repeat padding-box;
    margin: 0 auto; 
  }

  .border_line {
    background: #e1e2e8 0% 0% no-repeat padding-box;
    width: clamp(90%, 60vw, 100%); 
    max-width: 1200px; 
    height: 1px;
    margin: 20px auto;
  }
}
