.hero_section {
    position: relative;
    width: clamp(100%, 100vw, 100%); 
    height: clamp(40vw, 40vw, 40vw); 
    background-image: url("../IMG/photos/img_07.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .hero_section-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 43px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    h1 {
      margin-top: -2rem;
      color: white;
      text-align: center;
      font-family: "Metropolis", sans-serif;
      font-style: normal;
      font-variant: normal;
      font-weight: bold;
      font-size: clamp(0.5rem, 2.3vw, 10.5rem); 
    }
  
    p {
      text-align: center;
      color: white;
      letter-spacing: -0.36px;
      opacity: 1;
      font-family: "Metropolis-regular", sans-serif;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      font-size: clamp(1.2vw, 4.0vw, 1.3vw); 
      line-height: clamp(1.5vw, 1.5vw,1.5vw); 
  
   
     
      -webkit-line-clamp: 3;
      width: clamp(100rem, 50rem, 50rem); 
      max-width: 70vw;
  
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  
    span {
      text-align: center;
      color: white;
      letter-spacing: -0.36px;
      opacity: 1;
      font-family: "Metropolis";
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: clamp(1.2vw, 2.0vw, 0.9vw); 
  
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }
  
  .hero-section__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  
    white-space: nowrap;
  
    .hero-section__icon-wrapper {
      margin: 0 clamp(10px, 15px, 20px);

      text-align: center;
      opacity: 1;
      position: relative;
  
      &::before {
        content: "";
  
        position: relative;
  
        padding-bottom: clamp(1vw, 9vw, 9vw);
        padding-right: clamp(15vw, 15vw, 15vw);
  
        opacity: 30%;
  
        border: 2px solid white;
      }
    }
  
    .hero-section__icon {
      &:hover {
        transform: scale(1.05);
      }
  
      img {
        margin-bottom: 10px;
      }
  
      p {
        font-family: "Metropolis", sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 14px;
        margin: 0;
        letter-spacing: -0.28px;
        text-transform: uppercase;
        color: white;
      }
    }
  
    .hero-section__icon:first-child {
      padding-top: 40px;
  
      img {
        width: 62px;
        height: 30px;
      }
    }
  
    .hero-section__icon:nth-child(2) {
      padding-top: 40px;
  
      img {
        width: 40px;
        height: 32px;
      }
    }
  
    .hero-section__icon:last-child {
      padding-top: 40px;
      img {
        width: 40px;
        height: 27px;
      }
    }
  }
  
  .hero-section__red-line {
    width: clamp(50px, 3.2vw, 280px); 
    height: clamp(2px, 0.3vw, 4px); 
    background: #f74137 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    align-items: center;
    top: -30px;
  }
  
  .hero-section__border-line {
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 0.05;
    width: clamp(100%, 100vw, 100%); 
    height: clamp(1px, 0.1vw,  5px);
    position: absolute;
    margin-top: -32rem;
  }
  
  .hero-section__button-wrapper {
    margin-top: 13rem;
  }
  
  .hero-section__button {
    width: 100%;
    text-decoration: none;
    padding: clamp(0.1rem, 1vw, 4.2rem) ;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: clamp(0.1rem, 0.8vw, 7.5rem);
    line-height: 17px;
    
    background: #f74137 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    font-family: "Metropolis", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: -0.28px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    

  }