.image-container {
  display: none;
}

.image-container.active {
  display: block;
}

.slider-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10; // Upewnij się, że przyciski są na wierzchu
}

.slider-arrow {
  cursor: pointer;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  z-index: 100; /* Ustaw wysoki z-index */
}

.left-arrow {
  z-index: 5;

  margin-left: 20px;
}

.right-arrow {
  z-index: 1;
  margin-right: 20px;
}

.image-wrapper1 {
  display: flex;
  position: relative;
  display: inline-block;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  // Gradient tylko na obrazie
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    pointer-events: none; // Gradient nie blokuje interakcji z obrazem
  }
}

.image-wrapper2 {
  display: flex;
  position: relative;
  display: inline-block;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  // Gradient tylko na obrazie
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    pointer-events: none; // Gradient nie blokuje interakcji z obrazem
  }
}

.image-wrapper3 {
  display: flex;
  position: relative;
  display: inline-block;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  // Gradient tylko na obrazie
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    pointer-events: none; // Gradient nie blokuje interakcji z obrazem
  }
}
