$border-color: #ffffff;
@font-face {
  font-family: "Metropolis";
  src: url("/FONTS/fonts/Metropolis-regular.otf") format("otf");
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Metropolis-regular";
  src: url("../FONTS/fonts/Metropolis-regular.otf ") format("otf");
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Metropolis-thin";
  src: url("../FONTS/fonts/Metropolis-Thin.otf") format("otf");
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

.header {
  border: 0.5px solid $border-color;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;

  .logo {
    margin-left: 11px;
    max-width: 100%;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    display: flex;
    align-items: center;

    .logo-img {
      width: 249px;
      height: 58px;
    }
  }

  .nav {
    justify-content: space-around;
    font-family: "Metropolis-regular", sans-serif;

    width: 100vw;

    display: flex;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;

    .phoneE {
      margin-top: 12.5px;
      margin-bottom: 12.5px;
      right: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-left: 722px;

      img {
        max-width: 100%;
        width: 28px;
        height: 28px;
      }

      span {
        width: 67px;
        height: 14px;
        text-align: left;
        font-size: 18px;
        letter-spacing: -0.28px;
        color: #111111;
        text-transform: uppercase;
        opacity: 1;
        margin-left: 17.14px;
      }
    }

    .star {
      margin-top: 12.5px;
      margin-bottom: 12.5px;
      margin-left: 72.66px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        max-width: 100%;
        width: 28px;
        height: 27px;
      }

      span {
        margin-left: 17.14px;
        width: 72px;
        height: 14px;
        text-align: left;
        font-size: 18px;
        letter-spacing: -0.28px;
        color: #111111;
        text-transform: uppercase;
        opacity: 1;
      }
    }

    .person {
      margin-top: 12.5px;
      margin-bottom: 12.5px;
      margin-left: 62.34px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 100vw; 
        height: 100vh; 
        object-fit: cover;
        width: 25px;
        height: 29px;
      }

      span {
        font-size: 18px;
        margin-left: 18.67px;
        width: 120px;
        height: 14px text-align left;

        letter-spacing: -0.28px;
        color: #111111;
        text-transform: uppercase;
        opacity: 1;
        display: flex;
      }
    }

    .cart {
      margin-top: 12.5px;
      margin-bottom: 12.5px;
      margin-left: 62px;

      border: 1px solid #e1e2e8;
      opacity: 1;
      display: flex;

      align-items: center;
      gap: 10px;
      position: sticky;
      width: 269px;
      height: 55px;

      img {
        max-width: 100%;
        width: 39px;
        height: 36px;
        margin-left: 10px;
      }

      .koszyk-info {
        .KOSZ_CENA {
          flex-direction: column;
        }

        display: flex;

        align-items: center;

        gap: 10px;
      }
      .SPAN {
        font-size: 18px;
        width: 20px;
        height: 14px;
        text-align: left;
        letter-spacing: -0.28px;
        color: #111111;
        text-transform: uppercase;
        opacity: 1;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
      }

      .KOSZ_ILOSC {
        position: absolute;

        top: 10px;

        right: 180px;

        color: white;

        width: 26px;
        height: 14px;

        display: flex;

        font-size: 13px;

        background: #9bcb3b 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 1;
      }

      .KOSZYK_ILOSC_TEKST {
        position: absolute;

        top: 12.2px;

        background: #9bcb3b 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 1;
      }

      .KOSZYK_ILOSC_TEKST {
        position: absolute;

        top: 11.1px;

        right: 184px;

        text-align: left;
        font-size: 11px;
        letter-spacing: -0.2px;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 1;
      }
      .LINIA {
        margin-left: 15px;
        position: static;
        display: flex;
        right: 10px;
        width: 1px;
        height: 41px;
        background: #e1e2e8 0% 0% no-repeat padding-box;
        opacity: 1;
      }
    }
    .LINIA {
      margin-left: 15px;
      position: static;
      display: flex;
      right: 10px;
      width: 1px;
      height: 41px;
      background: #e1e2e8 0% 0% no-repeat padding-box;
      opacity: 1;
    }

    .cena {
      width: 80px;
      height: 14px;
      text-align: left;
      letter-spacing: -0.28px;
      color: #111111;
      opacity: 1;
      font-style: normal;
      font-variant: normal;
      font-weight: bold;
    }
    .ZIELONE_POLE_STRZALKA {
      top: 27px;
      left: 1855px;
      width: 35px;
      height: 55px;

     

      background: #9bcb3b 0% 0% no-repeat padding-box;
      opacity: 1;
    }
  }
}

.PASEK2 {
  background: #ffffff 0% 0% no-repeat padding-box; 
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0;

  ul {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: center; 
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 7%; 
  }

  li {
    flex: 1 1 auto; 
    min-width: 150px; 
    text-align: center;

    a {
      text-align: left;
      font: normal normal bold 14px/14px Metropolis;
      letter-spacing: -0.28px;
      color: #111111;
      text-transform: uppercase;
      opacity: 1;
      text-decoration: none;
      color: #000000;
      font-family: "Metropolis-regular", sans-serif;
      font-size: 1rem; 
      white-space: nowrap; 
      font-style: normal;
      font-variant: normal;
      font-weight: bold;
    }
  }

  
  @media (max-width: 768px) {
    ul {
      justify-content: center; 
      gap: 10px; 
    }

    li {
      flex: 1 1 45%; 
      min-width: 120px; 
    }

    a {
      font-size: 0.9rem; 
    }
  }

  @media (max-width: 480px) {
    ul {
      flex-direction: column;
      gap: 5px; 
    }

    li {
      flex: 1 1 100%; 
    }

    a {
      font-size: 0.8rem;
    }
  }
}

body {
  margin: 0;

  .image-container {
    display: flex;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 21px;
    padding-bottom: 29px;

    width: 1860px;
    height: 595px;

    background: transparent url("img/Group 40.png") 0% 0% no-repeat padding-box;
    opacity: 1;

    .button-overlay {
      position: absolute;
      top: 400px; 
      margin-left: 127px; 

      .cta-button {
        text-decoration: none;

        padding: 21px 45px; 
        background: #f74137 0% 0% no-repeat padding-box;
        opacity: 1;
        text-align: center;
        font-family: "Metropolis-Thin", sans-serif;
        letter-spacing: -0.28px;
        color: #ffffff;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        opacity: 1;
      }
    }

    .image-wrapper {
      display: flex;
      position: relative;
      display: inline-block;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0)
        );
        pointer-events: none; 
      }
    }

    .text-overlay {
      font-family: "Metropolis-regular", sans-serif;
      text-align: left;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      position: absolute;
      top: 106px;
      margin-left: 127px;
      width: 514px;
      height: 44px;
      font-size: 20px;
      font-style: normal;
      font-variant: normal;
      font-weight: bold;

      p {
        margin: 0;
        font-size: 44px;
        line-height: 200px;
      }
    }

    .text-overlay2 {
      text-align: left;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      position: absolute;
      top: 234px;
      margin-left: 127px;
      width: 571px;
      height: 44px;
      font-size: 44px;

      p {
        margin: 0;
        font-size: 44px;
        font-family: "Metropolis-Thin", sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: 300;
      }
    }

    .text-overlay3 {
      text-align: left;
      letter-spacing: -0.44px;
      color: #ffffff;
      opacity: 1;
      position: absolute;
      top: 294px;
      margin-left: 127px;
      width: 371px;
      height: 74px;
      letter-spacing: -0.44px;
      color: #ffffff;
      opacity: 1;

      p {
        margin: 0;
        font-size: 22px;
        font-family: "Metropolis-thin", sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
      }
    }
  }
}

.image-wrapper1 {
  display: flex;
  position: relative;
  display: inline-block;

  img {
    display: block;
    width: 100%;
    height: auto;
    filter: brightness(0.7);
  }
}

.image-wrapper2 {
  display: flex;
  position: relative;
  display: inline-block;

  img {
    display: block;
    width: 100%;
    height: auto;
    filter: brightness(0.7);
  }
}

.image-wrapper3 {
  display: flex;
  position: relative;
  display: inline-block;

  img {
    display: block;
    width: 100%;
    height: auto;
    filter: brightness(0.7);
  }
}

.ZDJECIA_OBOK_3 {
  display: flex;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 1860px;
  height: 400px;

  img.ZDJECIE_OBOK1 {
  }

  .ZDJ3OBOK_1 {
    position: absolute;
    margin-left: 79px;
    margin-top: 72px;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    width: 352px;
    height: 44px;

    p {
      font-size: 44px;
      font-family: "Metropolis-regular", sans-serif;
      font-style: normal;
      font-variant: normal;
      font-weight: bold;
    }
  }
  .zdj3obok_1_1 {
    position: absolute;
    margin-left: 79px;
    text-align: left;
    margin-top: 126px;
    width: 242px;
    height: 44px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    p {
      font-size: 44px;
      font-family: "Metropolis-thin", sans-serif;
      font-style: normal;
      font-variant: normal;
      font-weight: 100;
    }
  }

  .ZDJ3OBOK_2 {
    position: absolute;
    text-align: left;
    padding-left: 679px;
    padding-top: 72px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    width: 367px;
    height: 44px;

    p {
      font-size: 44px;
      font-family: "Metropolis-regular", sans-serif;
      font-style: normal;
      font-variant: normal;
      font-weight: bold;
    }
  }
}
.zdj3obok_1_2 {
  position: absolute;
  padding-left: 679px;
  text-align: left;
  margin-top: 126px;
  width: 242px;
  height: 44px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;

  p {
    font-size: 44px;
    font-family: "Metropolis-thin", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
  }
}

.ZDJ3OBOK_3 {
  position: absolute;

  margin-left: 1339px;
  text-align: left;
  font: normal normal bold 44px/200px Metropolis;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  width: 244px;
  height: 44px;

  p {
  }
}

.zdj3obok_1_3 {
  position: absolute;
  margin-left: 1339px;
  text-align: left;
  margin-top: 50px;
  width: 242px;
  height: 44px;
  font: normal normal 300 44px/200px Metropolis;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.produkty {
  border-radius: 2px;
  width: 1920px;
  height: 851px;
  border: 1px, red;
  background-color: red($color: #000000);

  .text_products {
    text-align: center;
    font: normal normal bold 44px/200px Metropolis;
    letter-spacing: 0px;
    color: #111111;
    opacity: 1;
  }

  .red_line {
    width: 60px;
    height: 3px;
    background: #f74137 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    align-items: center;
    top: -70px;
    right: -920px;
  }

  .border_line {
    background: #e1e2e8 0% 0% no-repeat padding-box;
    width: 1980px;
    height: 1px;
    position: absolute;
    margin-top: -70px;
  }
  
  




  .recommended-products {
    text-align: center;
    margin: 20px auto;
  
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      position: relative;
  
      &::after {
        content: '';
        display: block;
        width: 50px;
        height: 3px;
        background-color: #f00;
        margin: 10px auto 0;
      }
    }
  
    .box_all {

  .box_all {
    justify-content: space-between;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;

    .box1 img,
    .box2 img,
    .box3 img,
    .box4 img,
    .box5 img,
    .box6 img,
    .box7 img {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
      width: 270px;
      height: 270px;
    }
  }
}  

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #2b2b2b;
  color: white;
  padding: 30px 10px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 0 10px;
  text-align: left;
}

.footer-section h4 {
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
  position: relative;
}

.footer-section h4::after {
  content: "";
  display: block;
  width: 443px;
  height: 2px;
  background: linear-gradient(to right, red 10px, rgb(39, 38, 38) 30px);
  margin-top: 5px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}
a .footer-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: red;
}
