$border-color: #8a8d9c;

.header {
  border: 0.5px solid $border-color;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;

  .logo {
    max-width: 100%;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    display: flex;
    align-items: center;

    .logo-img {
      width: 249px;
      height: 58px;
    }
  }

  .nav {
    justify-content: space-around;
    
    
    width: 100vw;
    
    display: flex;

    .phoneE {
      margin-top: 12.5px;
      margin-bottom: 12.5px;
      right: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-left: 762px;

      img {
        max-width: 100%;
        width: 28px;
        height: 28px;
      }

      span {
        width: 67px;
        height: 14px;
        text-align: left;
        font-size: 18px;
        letter-spacing: -0.28px;
        color: #111111;
        text-transform: uppercase;
        opacity: 1;
        margin-left: 17.14px;
      }
    }

    .star {
      margin-top: 12.5px;
      margin-bottom: 12.5px;
      margin-left: 72.66px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        max-width: 100%;
        width: 28px;
        height: 27px;
      }

      span {
        margin-left: 17.14px;
        width: 72px;
        height: 14px;
        text-align: left;
        font-size: 18px;
        letter-spacing: -0.28px;
        color: #111111;
        text-transform: uppercase;
        opacity: 1;
      }
    }

    .person {
      margin-top: 12.5px;
      margin-bottom: 12.5px;
      margin-left: 62.34px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 100vw; // Pełna szerokość ekranu
        height: 100vh; // Pełna wysokość ekranu
        object-fit: cover;
        width: 25px;
        height: 29px;
      }

      span {
        margin-top: 7px;
        font-size: 18px;
        margin-left: 18.67px;
        width: 120px;
        height: 14px text-align left;

        letter-spacing: -0.28px;
        color: #111111;
        text-transform: uppercase;
        opacity: 1;
        display: flex;
      }
    }

    .cart {
      margin-top: 12.5px;
      margin-bottom: 12.5px;
      margin-left: 50px;
      border: 1px solid #e1e2e8;
      opacity: 1;
      display: flex;

      align-items: center;
      gap: 10px;
      position: sticky;
      width: 254px;
      height: 55px;

      img {
        max-width: 100%;
        width: 39px;
        height: 36px;
        margin-left: 10px;
      }

      .koszyk-info {
        .KOSZ_CENA {
          flex-direction: column;
        }
        display: flex;

        align-items: center;

        gap: 10px;
      }
      .SPAN {
        font-size: 18px;
        width: 103px;
        height: 14px;
        text-align: left;
        font: normal normal bold 14px/14px Metropolis;
        letter-spacing: -0.28px;
        color: #111111;
        text-transform: uppercase;
        opacity: 1;
      }

      .KOSZ_ILOSC {
        position: absolute;

        top: 11px;

        right: 190px;

        color: white;

        width: 26px;
        height: 14px;

        display: flex;

        font-size: 13px;

        background: #9bcb3b 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 1;
      }

      .KOSZYK_ILOSC_TEKST {
        position: absolute;

        top: 12.2px;

        right: 195px;

        text-align: left;
        font-size: 11px;
        letter-spacing: -0.2px;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 1;
      }
      .LINIA {
        margin-left: 15px;
        position: static;
        display: flex;
        right: 10px;
        width: 1px;
        height: 41px;
        background: #e1e2e8 0% 0% no-repeat padding-box;
        opacity: 1;
      }

      .cena {
        width: 80px;
        height: 14px;
        text-align: left;
        font: normal normal normal 14px/20px Metropolis;
        letter-spacing: -0.28px;
        color: #111111;
        opacity: 1;
      }
    }
  }
}

.PASEK2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px;

  border: 1px solid #ccc;

  margin: 0 auto;

  ul {
    display: flex;

    justify-content: space-around;

    list-style-type: none;

    padding: 0;

    margin: 0;

    height: 100%;

    li {
      margin: 0 15px;

      a {
        text-decoration: none;

        color: #000000;

        font-size: 18px;
      }
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f2f3f4 0% 0% no-repeat padding-box;

  .image-container {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 21px;
    padding-bottom: 29px;

    width: 1860px;
    height: 595px;

    background: transparent url("img/Group 40.png") 0% 0% no-repeat padding-box;
    opacity: 1;

    .image-wrapper {
      position: relative;
      display: inline-block;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      // Gradient tylko na obrazie
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0)
        );
        pointer-events: none; // Gradient nie blokuje interakcji z obrazem
      }
    }

    .text-overlay {
      text-align: left;
      font: normal normal bold 44px/200px Metropolis;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      position: absolute;
      top: 110px;
      margin-left: 127px;
      width: 514px;
      height: 44px;
      font-size: 20px;

      p {
        margin: 0;
        font-size: 44px;
      }
    }
  }
}

.ZDJECIA_OBOK_3 {
  display: flex;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 1860px;
  height: 400px;

  img.ZDJECIE_OBOK1 {
  }

  .ZDJ3OBOK_1 {
    position: absolute;
    text-align: left;

    p {
    }
  }

  .ZDJ3OBOK_2 {
    position: absolute;
    text-align: left;

    p {
    }
  }

  .ZDJ3OBOK_3 {
    position: absolute;
    text-align: left;

    p {
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #2b2b2b;
  color: white;
  padding: 30px 10px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 0 10px;
  text-align: left;
}

.footer-section h4 {
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
  position: relative;
}

.footer-section h4::after {
  content: "";
  display: block;
  width: 443px;
  height: 2px;
  background: linear-gradient(to right, red 10px, rgb(39, 38, 38) 30px);
  margin-top: 5px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}
a .footer-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: red;
}
