@font-face {
  font-family: Mertropolis-Bold;
  src: url(../IMG/etap_01/fonts/Metropolis-Bold.otf);
}
.header {
  border: 0.5px solid #8a8d9c;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.header .logo {
  max-width: 100%;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  display: flex;
  align-items: center;
}
.header .logo .logo-img {
  width: 249px;
  height: 58px;
}
.header .nav {
  justify-content: space-around;
  width: 100vw;
  display: flex;
}
.header .nav .phoneE {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 762px;
}
.header .nav .phoneE img {
  max-width: 100%;
  width: 28px;
  height: 28px;
}
.header .nav .phoneE span {
  width: 67px;
  height: 14px;
  text-align: left;
  font-size: 18px;
  letter-spacing: -0.28px;
  color: #111111;
  text-transform: uppercase;
  opacity: 1;
  margin-left: 17.14px;
}
.header .nav .star {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  margin-left: 72.66px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .nav .star img {
  max-width: 100%;
  width: 28px;
  height: 27px;
}
.header .nav .star span {
  margin-left: 17.14px;
  width: 72px;
  height: 14px;
  text-align: left;
  font-size: 18px;
  letter-spacing: -0.28px;
  color: #111111;
  text-transform: uppercase;
  opacity: 1;
}
.header .nav .person {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  margin-left: 62.34px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .nav .person img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  width: 25px;
  height: 29px;
}
.header .nav .person span {
  margin-top: 7px;
  font-size: 18px;
  margin-left: 18.67px;
  width: 120px;
  height: 14px text-align left;
  letter-spacing: -0.28px;
  color: #111111;
  text-transform: uppercase;
  opacity: 1;
  display: flex;
}
.header .nav .cart {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  margin-left: 50px;
  border: 1px solid #e1e2e8;
  opacity: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  position: sticky;
  width: 274px;
  height: 55px;
}
.header .nav .cart img {
  max-width: 100%;
  width: 39px;
  height: 36px;
  margin-left: 10px;
}
.header .nav .cart .koszyk-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .nav .cart .koszyk-info .KOSZ_CENA {
  flex-direction: column;
}
.header .nav .cart .SPAN {
  font-size: 18px;
  width: 20px;
  height: 14px;
  text-align: left;
  font: normal normal bold 14px/14px Metropolis;
  letter-spacing: -0.28px;
  color: #111111;
  text-transform: uppercase;
  opacity: 1;
}
.header .nav .cart .KOSZ_ILOSC {
  position: absolute;
  top: 10px;
  right: 194px;
  color: white;
  width: 26px;
  height: 14px;
  display: flex;
  font-size: 13px;
  background: #9bcb3b 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
}
.header .nav .cart .KOSZYK_ILOSC_TEKST {
  position: absolute;
  top: 11.1px;
  right: 199px;
  text-align: left;
  font-size: 11px;
  letter-spacing: -0.2px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.header .nav .cart .LINIA {
  margin-left: 15px;
  position: static;
  display: flex;
  right: 10px;
  width: 1px;
  height: 41px;
  background: #e1e2e8 0% 0% no-repeat padding-box;
  opacity: 1;
}
.header .nav .cart .cena {
  width: 80px;
  height: 14px;
  text-align: left;
  font: normal normal normal 14px/20px Metropolis;
  letter-spacing: -0.28px;
  color: #111111;
  opacity: 1;
}
.header .nav .cart .ZIELONE_POLE_STRZALKA {
  top: 27px;
  left: 1855px;
  width: 35px;
  height: 55px;
  /* UI Properties */
  background: #9BCB3B 0% 0% no-repeat padding-box;
  opacity: 1;
}

.PASEK2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 auto;
}
.PASEK2 ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
.PASEK2 ul li {
  margin: 0 15px;
}
.PASEK2 ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f2f3f4 0% 0% no-repeat padding-box;
}
body .image-container {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 21px;
  padding-bottom: 29px;
  width: 1860px;
  height: 595px;
  background: transparent url("img/Group 40.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}
body .image-container .image-wrapper {
  position: relative;
  display: inline-block;
}
body .image-container .image-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}
body .image-container .image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  pointer-events: none;
}
body .image-container .text-overlay {
  text-align: left;
  font: normal normal bold 44px/200px Metropolis;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  position: absolute;
  top: 110px;
  margin-left: 127px;
  width: 514px;
  height: 44px;
  font-size: 20px;
}
body .image-container .text-overlay p {
  margin: 0;
  font-size: 44px;
}

.ZDJECIA_OBOK_3 {
  display: flex;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 1860px;
  height: 400px;
}
.ZDJECIA_OBOK_3 .ZDJ3OBOK_1 {
  position: absolute;
  text-align: left;
}
.ZDJECIA_OBOK_3 .ZDJ3OBOK_2 {
  position: absolute;
  text-align: left;
}
.ZDJECIA_OBOK_3 .ZDJ3OBOK_3 {
  position: absolute;
  text-align: left;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #2b2b2b;
  color: white;
  padding: 30px 10px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 0 10px;
  text-align: left;
}

.footer-section h4 {
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
  position: relative;
}

.footer-section h4::after {
  content: "";
  display: block;
  width: 443px;
  height: 2px;
  background: linear-gradient(to right, red 10px, rgb(39, 38, 38) 30px);
  margin-top: 5px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

a .footer-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: red;
}

/*# sourceMappingURL=main.css.map */
